<article class="Project">
    <div class="Project__imageGroup">
        <a target="_blank" href="{{ link }}"><img src="img/{{ image }}" alt="{{ title }}"/></a>
    </div>
    <div class="Project__textGroup">
        <h2 class="Project__title"><a href="{{link}}">{{ title }}</a></h2>
        <div class="Project__date">{{ date }}</div>
        <p class="Project__summary">{{ summary }}</p>
        <p class="Project__link"><a target="_blank" href="{{ link }}">{{ linktext }}</a></p>
    </div>
</article>